@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    background: radial-gradient(ellipse at bottom, #edebee 0%,#160f28 100%);
    background-attachment: fixed;
    margin-top: 150px; 
}

main {
    flex: 1;
}

@media (max-width: 768px) {
    #filtrosColumna{
        display: flex;
        justify-content: center;
    }
}