@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'StarJedi'; 
    src:
        url('Starjedi.ttf') format('truetype'),
        url('Starjhol.ttf') format('truetype');  
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0; /* Elimina el margen predeterminado del body */
}


/* Asegura que el contenido principal ocupe el espacio disponible */
main {
    flex: 1; /* Permite que el main ocupe el espacio disponible entre el header y el footer */
}
body {
    font-family: "Roboto Condensed", sans-serif;
    color: black;
}
/* Estilos para el video de fondo*/
video{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

h1{
    font-family: 'StarJedi';
    color: white;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    font-size: calc(3.5rem + 1vw);
    text-align: center;
    transition: text-shadow 0.3s;
}

h1:hover{
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #F7C826,
        0 0 50px #F7C826, 
        0 0 60px #F7C826;
}

.filtros{
    padding: 10px;
    color: white; 
    border: solid white thin;
    border-radius: 15px;
    font-size: calc(0.8rem + 0.1vw);
}

.filtros h5{
    text-align: center;
}

.filtros h6{
    text-align: center;
}

.btn-filtros {
    padding: 0.5rem 1rem; /* Ajusta el padding */
    width: auto; /* Ajusta el ancho del botón */
    max-width: 150px; /* Máximo ancho del botón */
}

.personaje-tarjeta {
    /* Asegura que todas las tarjetas tengan el mismo tamaño */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    /* Asegura que la imagen cubra el área sin deformar */
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto empuja el botón hacia el fondo */
}

.btn {
    align-self: start; /* Centra el botón dentro de la tarjeta */
}

.card_starships_tarjeta{
    background: rgba(255, 255, 255, 0.377);
    border-radius: 20px;
    overflow: hidden;
}
.card_starships_tarjeta button{
    border-radius: 10px;
    background-color: rgb(170, 44, 6);
    border:2px solid rgb(170, 44, 6);
}

footer {
    border-top: solid white thin;
}

@media (max-width: 330px) {
    body {
        display: none;
    }

    html {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        background-image: url('no-disponible.png');
        background-size: cover;
        background-position: center;
    }
}